<div class="container" style="margin-top: 3rem;">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Show Only Odd</button>
            <hr>
            <ul class="list-group">
                <div *ngIf="onlyOdd">
                    <li class="list-group-item" [ngClass]="{odd : odd % 2 !== 0}"
                        [ngStyle]="{backgroundColor : odd % 2 !== 0 ? 'yellow' : 'transperent'}"
                        *ngFor="let odd of oddNumbers">
                        {{odd}}
                    </li>
                </div>
                <div *ngIf="!onlyOdd">
                    <li class="list-group-item" [ngStyle]="{backgroundColor : even % 2 !== 0 ? 'yellow' : 'blue'}"
                        *ngFor="let even of evenNumbers">
                        {{even}}
                    </li>
                </div>

                <ng-template [ngIf]="!onlyOdd">
                    <li class="list-group-item" [ngStyle]="{backgroundColor : even % 2 !== 0 ? 'yellow' : 'blue'}"
                        *ngFor="let even of evenNumbers">
                        {{even}}
                    </li>
                </ng-template>

                <div *appUnless="onlyOdd">
                    <li class="list-group-item" [ngStyle]="{backgroundColor : even % 2 !== 0 ? 'yellow' : 'blue'}"
                        *ngFor="let even of evenNumbers">
                        {{even}}
                    </li>
                </div>
            </ul>
            <p appBasicHighlight>Styled with custom Directive</p>
            <!-- <p appBetterHight [defaultColor]="'yellow'" [highlightColor]="'magenta'">Styled with custom Directive</p> -->
            <p [appBetterHighlight]="'magenta'" [defaultColor]="'yellow'">Styled with custom Directive</p>
        </div>
    </div>
</div>